
@font-face {
  font-family: 'ClassicRobot';
  src: url('/static/fonts/ClassicRobot-BoldItalic.woff') format('woff'),
       url('/static/fonts/ClassicRobot-BoldItalic.woff2') format('woff2'),
       url('/static/fonts/ClassicRobot-BoldItalic.tff') format('truetype');
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
