<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>

    {% endblock %}

    <title>Your page title</title>
    {% endblock %}
  </head>
  <body>
    <!-- navbar -->
    {% block navbar %}

    {% from 'bootstrap/nav.html' import render_nav_item %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index', 'Home') }}
            {{ render_nav_item('database', 'Competition') }}
            {{ render_nav_item('teams', 'Team') }}
            {{ render_nav_item('data', 'Data') }}
            {{ render_nav_item('analyze', 'Analytics') }}
            {{ render_nav_item('about', 'About') }}
        </div>
    </nav>

    {% endblock %}
    
    {% block flash_messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    {% endblock %}

    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    
    <script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
    
    {% endblock %}
  </body>
</html>