<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/static/img/favicon.ico" />

    <title>{% block title %}RoboRank -- Robot Competition Ranking {% endblock %}</title>

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" />
    <link href="/static/fontawesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/roborank.css" type="text/css" />
    
    {% endblock %}

  </head>
  {% endblock %}
  
  <body>
    {% block banner %}
    <h1 style="font: italic bold 40pt ClassicRobot;"><i class="fas fa-robot"></i> RoboRank</h1>
    {% endblock %}

    <!-- navbar -->
    {% block navbar %}

    {% from 'bootstrap/nav.html' import render_nav_item %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('database', 'Competition') }}
            {{ render_nav_item('teams', 'Team') }}
            {{ render_nav_item('data', 'Data') }}
            {{ render_nav_item('analyze', 'Analytics') }}
            {{ render_nav_item('about', 'About') }}
        </div>
    </nav>

    {% endblock %}
    
    {% block flash_messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    {% endblock %}

    <!-- Your page content -->
    {% block content %}
    <div class="container">
    {% block inner_content %}
    {% endblock %}
    </div>
    
    {% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script type="text/javascript" src="/static/DataTables/jQuery-3.3.1/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="/static/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    
    {% endblock %}
    
    {% block page_footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright &copy; Nick Seidenman &lt;nick@seidenman.net&gt;</span>
      </div>
    </footer>
    {% endblock %}    
  </body>
</html>