<!doctype html>
{% extends "base.html" %}

{% block inner_content %}
 {{ super() }}
 
<h1>Raw Data for <span style="font-style: italic; text-decoration: underline; color: green;">{{ dbname }}</span> Competition</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12 table-responsive-md">
            <table class="scoring-raw-data-tbl table-striped">
                <thead>
                    <tr>
                        <th >Round</th>
                        <th>Team ID</th>
                        <th>Balls (High)</th>
                        <th>Balls (Low)</th>
                        <th>Autonomous</th>
                        <th>Climb</th>
                        <th>Spinner (Colour)</th>
                        <th>Spinner (Rotate)</th>
                        <th>Actions</th>
                    </tr>
                </thead>    
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
    $(".scoring-raw-data-tbl").DataTable({
        "processing": true,
        "serverSide": true,
        "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        "ajax": "/a/scores/",
        "columns": [
            {
                "data": "round", "name": "round", "className": "text-md-center", 
            },
            {
                "data": null, "name": "raw_scores.teamId",
                "render": function(x) {
                    if (x.exclude == 1) {
                        return '<span style="text-decoration: line-through;">'+x.teamId+'</span>';
                    } else {
                        return x.teamId;
                    }
                }
            },
            {
                "data": "high_balls", "name": "high_balls", "className": "text-md-center", "searchable": false
            },
            {
                "data": "low_balls", "name": "low_balls", "className": "text-md-center", "searchable": false
            },
            {
                "data": "autonomous", "name": "autonomous", "className": "text-md-center", "searchable": false
            },
            {
                "data": "climb", "name": "climb", "className": "text-md-center", "searchable": false
            },
            {
                "data": "spin_by_colour", "name": "spin_by_colour", "className": "text-md-center", "searchable": false
            },
            {
                "data": "spin_by_rotate","name": "spin_by_rotate",  "className": "text-md-center", "searchable": false
            },
            {
                "data": null, "orderable": false, "searchable": false,
                "render": function(x) {
                    return '';
                }
            }
        ]
    });
</script>
{% endblock %}